@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: grid;
    background: url("images/heheh.jpg") no-repeat;
    background-size: cover;
    place-content: center;
    font-family: "Quicksand", sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}
main{
    height: 100vh;
    width: 100vw;
    position: relative;
}
main::before {
    content: "";
    position: absolute;
    inset: 0%;
    background: linear-gradient(to bottom, #e99fb711 1%, #e99fb722, #e99fb744);
}
.container img{
    position: center;
    margin: -40px auto;
    rotate: 0deg;
}
.content{
    width: 100%;
    position: absolute;
    top: 50;
    transform: translateY(-35%);
    text-align: center;
    color: #ffcfde;
}
.content h1{
    font-size: 50px;
    margin-top: 450px;
}
.content p{
    margin: 20px auto;
    font-weight: 650;
    line-weight: 25px;
}
button{
    width: 250px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10 px;
    border-radius: 30px;
    font-weight: bold;
    border: 3px solid #e99fb7;
    background: #ffd1e8;
    color: #97536b;
    cursor: pointer;
    position: relative;
    bottom: 500px;
    left: 560px;
    font-family: inherit;
    overflow: hidden;
    transition-duration: 0.5s;
}
button:hover{
  border:3px solid #97536b;
  color: #ff97ac;
  border-radius: 25px;
  padding: 18px 0;
}
