@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}
.content{
    width: 100%;
    position: center;
    top: 100;
    text-align: center;
    color: #ffffff;
    transform: translateY(-100%);
}
.content h1{
    font-size: 50px;
}
.content p{
    font-weight: 650;
    line-weight: 25px;
    font-size: 25px
}
button{
    width: 90px;
    padding: 5px 0;
    text-align: center;
    border-radius: 15px;
    font-weight: bold;
    border: 3px solid #000000;
    background: #000000;
    color: #ffffff;
    cursor: pointer;
    position: center;
    transform: translateY(250%);
    font-family: inherit;
    overflow: hidden;
    font-size: 20px
}

body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: grid;
    background: #000000;
    background-size: cover;
    place-content: center;
    font-family: "Reenie Beanie", cursive;
}
