@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}
.content{
    width: 100%;
    position: absolute;
    top: 50;
    transform: translateY(-45%);
    text-align: center;
    color: #f18ba8;
}
.content h1{
    font-size: 50px;
    margin-top: 450px;
}
.content p{
    margin: 20px auto;
    font-weight: 650;
    line-weight: 25px;
    font-size: 25px
}
button{
    width: 250px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10 px;
    border-radius: 30px;
    font-weight: bold;
    border: 3px solid #dfdfdf;
    background: #141414;
    color: #ffe7e7;
    cursor: pointer;
    position: center;
    bottom: 500 px;
    left: 320px;
    font-family: inherit;
    overflow: hidden;
    transition-duration: 0.5s;
    font-size: 15px
}
button:hover{
  border: 3px solid #ececec;
  color: #fff6f6;
  border-radius: 25px;
  padding: 15px 0;
  font-size: 18px
}

body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: grid;
    background: url("images/emo.png") no-repeat;
    background-size: cover;
    place-content: center;
    font-family: "Annie Use Your Telescope", cursive;
}
